img {
  border-radius: 35px;
}

h1 {
    font-size: 4vw;
    font-weight: bold;
    font-family: 'Verdana', sans-serif;
}

p {
    font-size: 2vw;
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
} 
